<!DOCTYPE html>
<html>
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}
</head>
<body class="sans-serif {{body_class}}">
  <div class="flex flex-column">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- The footer at the very bottom of the screen --}}

  </div>
  <footer class="w-100 bt b--light-gray bg-washed-blue pv4 lh-copy">
    <div class="mr-auto ml-auto mw7 ph3">
      <p class="gray">{{@blog.description}}</p>
      <nav class="pb3">
        {{#if @blog.facebook}}<a class="pr3 blue hover-navy" href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
        {{#if @blog.twitter}}<a class="pr3 blue hover-navy" href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">{{@blog.twitter}}</a>{{/if}}
        <a class="pr3 blue hover-navy" href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" target="_blank" rel="noopener">Subscribe via RSS</a>
      </nav>
      <section class="gray"><a class="link gray" href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    </div>
  </footer>

  {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
  {{ghost_foot}}
</body>
</html>
